
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

main{
    height: calc(100vh - 100px);
    position: relative;

}

.icone-top{
    background-color: chartreuse;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.content-center{
    /* background-color: hotpink; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    overflow: auto;
}

.pinco-pallo{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    position: absolute;
    bottom:0;
    left: 0;
}


 .foto{ 
    background-image: url(./img/slack-imgs.jpg); 
    width: 250px;
    height: 150px; 
    /* border: 1px red solid; */
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 5px 3px;
    position: relative;
}



/* BARRA NAVIGAZIONE */

footer{
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.menu-left{
    /* background-color: rgb(62, 62, 145); */
    /* height: 100%; */
    display: flex;
    align-items: center;
    flex-basis: 12%;
    justify-content: space-between;
}

.icon-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-center{
    /* background-color: violet; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    flex-basis: 50%;
    justify-content: space-between;
}

.icon-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 32px;
    background-color: rgb(46, 44, 44);
    color: red;
}


